/******************** All of my the top of my webpage or header css will go below ********************/

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 0.5rem;
  font-family: "roboto", sans-serif;
  margin-left: 6em;
}

header {
  display: grid;
  grid-template-columns: 6fr;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: center;
  background-color: brown;
  color: white;
  width: 100%;
}

.headericon {
  height: 8em;
  margin-bottom: 0;
  margin-top: 2em;
  margin-left: -1em;
}

header h1 {
  font-size: 2.55em;
  margin-left: -3.5rem;
  text-align: center;
  font-family: "roboto", sans-serif;
  color: white;
  display: block;
  margin-top: -1.55em;
  margin-left: 1.25em;
}

.motto {
  padding: 0.5rem;
  font-family: "roboto", sans-serif;
  margin-left: 7.5em;
}

header h3 {
  font-size: 0.75rem;
  margin-left: 1.5rem;
  text-align: center;
  font-family: "roboto", sans-serif;
  color: white;
}

nav {
  margin: 0 auto;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation ul {
  margin: 0;
}

li {
  list-style: none;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: white;
}

nav ul li.active a {
  color: black;
  background-color: burlywood;
}

.navigation a:hover {
  color: black;
  background-color: burlywood;
}

.responsive li {
  display: block;
}

/******************** All of my the middle of my webpage or main css will go below *******************/
.pic-head {
  font-size: 3em;
}

body {
  background: radial-gradient(brown, cornsilk);
  font-family: "roboto", sans-serif;
  display: grid;
}

main {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 5em 1fr 8em 23em;
  font-size: 0.8rem;
  background-color: cornsilk;
}


/*  -------------------------  seven day forecast  ---------------  */

.forecast {
  /*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
  font-size: 18px;
  justify-content: right;
  padding-top: 1em;
}

.forecasthead {
  font-size: 18px;
  justify-content: right;
}



/* ************* this area is to be used for all images ******************************************* */

#overlay {
  position: relative;
  right: 10px;
}



#ss-atmospheric {
    display: block;
    margin-left: 1vw;
    bottom: 23.5vh;
    align-items: end;
    box-shadow: 5px 5px 30px;
    background-color: #222629;
    position: absolute;
    text-align: center;
    font-size: 1em;
  }
  
  #ss-atmospheric h2.weatherhead {
    margin-left: 12px;
  }
  
  #ss-atmospheric,
  .daily-sum {
    padding: 0.5em;
    border: 1px solid goldenrod;
    background: radial-gradient(burlywood, brown);
    left: 20px;
    height: 15em;
    opacity: 0.75;
    font-size: 15px;
    color: black;
  }

#atmospheric {
  display: block;
  margin-left: .5vw;
  bottom: 21.5vh;
  align-items: end;
  box-shadow: 5px 5px 30px;
  background-color: #222629;
  position: absolute;
  text-align: center;
  font-size: 1em;
}

#atmospheric h2.weatherhead {
  margin-left: 12px;
}

#atmospheric,
.daily-sum {
  padding: 0.5em;
  border: 1px solid goldenrod;
  background: radial-gradient(burlywood, brown);
  left: 20px;
  height: 15em;
  opacity: 0.75;
  font-size: 15px;
  color: black;
}

.lazyload {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 0.25em;
}

.lazyload img {
  filter: blur(0em);
  transition: filter 0.5s;
  width: 100%;
  height: 16em;
}

.lazyload img[data-src] {
  filter: blur(0.2em);
}

.lazyload figure {
  text-align: center;
  margin: 0;
}

.lazyload figcaption {
  background-color: cadetblue;
  padding: 1em;
  margin: 0;
}

.lazyload h2 {
  text-align: center;
}

/******************** All of my the bottom of my webpage or footer css will go below *****************/

footer {
  background-color: brown;
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 1px;
}

footer a {
  color: yellow;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*end of small */
